input::-ms-reveal,
input::-ms-clear {
    display: none;
    /* Remove ícones padrão do IE/Edge para mostrar/limpar campos de senha */
}

* {
    box-sizing: border-box;
    /* Inclui padding e border no cálculo de largura/altura */
    margin: 0;
    /*remove a margem e o padding padrão*/
    padding: 0;
}

html,
body {
    height: 100%;
    /* Garante altura total para html e body */
    overflow-y: visible;
    /* Permite rolagem vertical visível */
}

body {
    height: 100vh;
    /* Altura total da viewport */
    display: flex;
    /* Usado para layout flexível da página */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
}

/***************************************************************************************************************************************/
.links_extras {
    margin-top: 20px;
    font-size: 14px;
}

.links_extras a {
    color: #4e54c8;
    text-decoration: none;
}

.links_extras a:hover {
    text-decoration: underline;
}

/***************************************************************************************************************************************/
.usuario_menu {
    position: absolute;
    bottom: 20px;
    display: flex;
    font-weight: bold;
    gap: 10px;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    transition: background 0.3s;
}

.usuario_menu i {
    font-size: 24px;
}

.popup {
    /* Popup (modal) escondido por padrão */
    display: none;
    position: absolute;
    top: 85%;
    /*posicionamento na tela*/
    left: 15%;

    transform: translate(-50%, -50%);
    /* Centraliza popup */
    background: rgb(255, 255, 255);
    padding: 20px;
    border: 1px solid #ccc;
    color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: all 0.3s;
}

.menu_lateral {
    width: 250px;
    /* Largura padrão */
    padding: 20px;
    height: 100vh;
    /* Altura total da viewport */

    background: #0A1F63;
    color: white;
    transition: all 0.3s;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.4);
}

.menu_lateral h2 {
    margin-top: 20px;
    margin-bottom: 40px;
    padding-left: 35px;
}

.menu_lateral ul {
    list-style: none;
    /* Remove marcadores */
    display: flex;
    flex-direction: column;
    /* Itens em coluna */
    justify-content: flex-start;
}

.menu_lateral li {
    margin: 15px 0;
}

.menu_lateral a {
    padding: 8px;
    display: flex;
    padding-left: 40px;
    /* Espaço para ícone */

    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    transition: 0.3s;
}

.menu_lateral a:hover {
    background-color: #263873;
}

.menu_lateral.reduzido~section {
    transition: all 0.3s;
}

.menu_lateral.reduzido {
    width: 80px;
    /* Largura menor */
    padding: 20px 10px;
    transition: all 0.3s;
}

.menu_lateral.reduzido h2 {
    display: none;
    /* Esconde título */
}

.menu_lateral.reduzido ul {
    padding-top: 80px;
}

.menu_lateral.reduzido ul li {
    margin: 6px 0;
    /* Espaçamento menor */
}

.menu_lateral.reduzido ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 0;
    /* Esconde texto */
    padding: 0;
    margin: 0 auto;
}

.menu_lateral.reduzido ul li a i {
    position: static;
    font-size: 24px;
    /* Ícones visíveis */
}

.menu_lateral.reduzido ul li a:hover {
    background-color: #263873;
    border-radius: 50%;
    /* Deixa circular */
    width: 45px;
    height: 45px;
    margin-right: 10%;
}

.menu_lateral.reduzido .usuario_menu span {
    display: none;
    /* Esconde texto */
}

.menu_lateral.reduzido .usuario_menu {
    justify-content: center;
}

.menu_lateral.reduzido .popup {
    left: 9%;
    /* Ajusta posição popup */

}

/***************************************************************************************************************************************/
i {
    font-size: 25px;
    color: #ffffff;
}

.input i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(30%);
    font-size: 23px;
    color: #0A1F63;
}

.icone_input {
    position: absolute;
    transform: translateY(-10%);
    left: 30px;
}

/* Botão para abrir menu lateral */
.botao_menu {
    position: absolute;
    left: 25px;
    top: 41px;
    background: none;
    border: none;
    font-size: 30px;
    color: white;
    z-index: 1000;
    /* Sempre acima */
    cursor: pointer;
    justify-content: center;
    align-items: center;
}



/***************************************************************************************************************************************/
.container_menu {
    display: flex;
    /* Layout flexível horizontal */
    flex: 1;
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
    box-sizing: border-box;
}

section {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: flex-start;
    /* Alinha ao topo */

    background-color: #f0f0f0;
    flex: 1;
    height: 100%;
    overflow-y: auto;
    /* Rolagem vertical se necessário */
}

.form_cadastro {
    background-color: #002060;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 80px;
    margin-top: 100px;
    height: calc(100vh - 100px);
    /* Altura ajustada */
    overflow-y: auto;
    box-sizing: border-box;
    box-shadow:
        -4px 0 6px -2px rgba(0, 0, 0, 0.3),
        /* sombra à esquerda */
        4px 0 6px -2px rgba(0, 0, 0, 0.3),
        /* sombra à direita */
        0 -4px 6px -2px rgba(0, 0, 0, 0.3);
    /* sombra em cima do */
}

.form_cadastro .input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/***************************************************************************************************************************************/
.input {
    margin-bottom: 20px;
    text-align: left;
    position: relative;
    /* Para posicionar ícones */
}

.input label {
    display: block;
    margin-bottom: 6px;
    color: #ffffff;
    font-weight: bold;
}

.input input {
    width: 100%;
    /* Ocupa toda largura disponível */
    padding: 10px;
    padding-right: 35px;
    /* Espaço para ícone */

    border: 2px solid #ddd;
    border-radius: 10px;
    transition: 0.3s;
}

.input input:focus {
    border-color: #4e54c8;
    outline: none;
    box-shadow: 0 0 5px rgba(78, 84, 200, 0.5);
}

.linha-campos {
    display: flex;
    gap: 1rem;
    /* Espaçamento entre inputs */
}

.linha-campos .input {
    flex: 1;
    /* Cada input ocupa espaço igual */
}

/*******************************************************************************************************************/
select {
    padding: 10px;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: white;
    color: #333;
    transition: 0.3s;
    justify-content: left;
}

select:hover {
    outline: none;
    border-color: #4e54c8;
    box-shadow: 0 0 5px rgba(78, 84, 200, 0.5);
}

/********************************************************************************************************************/
.btn {
    margin-top: 1rem;
    padding: 10px 20px;
    background-color: green;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.btn.cancelar {
    background-color: red;
    margin-right: 10px;
}

.popup .btn {
    font-size: 12px;
    padding: 6px 12px;
    border-radius: 6px;
}


.btn:hover {
    transform: scale(1.05);
}

/********************************************************************************************************************/
/* RESPONSIVIDADE, vai ser usado? */

@media (max-width: 1024px) {
    .form_cadastro {
        width: 90%;
        padding: 60px 40px;
    }
}

@media (max-width: 768px) {
    .botao_menu {
    left:1%;

    }
    .menu_lateral .usuario_menu span {
        display: none;
        /* Esconde texto */
    }

    .menu_lateral .usuario_menu {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        padding: 0;
        font-size: 0;
        
    }

    .menu_lateral.popup {
        left: 9%;
        /* Ajusta posição popup */

    }

    .menu_lateral {
        width: 40px;
        padding: 20px 10px;
    }

    .menu_lateral h2 {
        display: none;
    }

    .menu_lateral ul {
        padding-top: 40px;
    }

    .menu_lateral a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        padding: 0;
        font-size: 0;
    }

    .menu_lateral a i {
        font-size: 24px;
        margin: 0;
        position: static;
        transform: none;
    }

    .menu_lateral a span,
    .menu_lateral a>*:not(i) {
        display: none;
    }
}


@media (max-width: 480px) {
    .form_cadastro {
        padding: 30px 15px;
    }


}